/* Normal 1920 */
body {
	font-family: "Lato", "Serif" !important;
	font-size: 18px;
}

h1 {
	font-size: 40px;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
	text-shadow: 3px 3px 3px #CCCCCC;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 24px;
}

ul {
	list-style: none;
}

.untorch-form {
	max-width: 500px;
}

.untorch-input {
	padding: 10px 16px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 28px;
    border-radius: 2px;
    border: 1px solid rgb(204, 204, 204);
}

.untorch-button {
	background-color: rgb(46, 204, 113);
    color: white;
    border-radius: 2px;
    border: 1px solid transparent;
    display: inline-block;
    padding: 4px 30px;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 40px;
}

.fa-green {
	padding-right: 15px;
	color: #39c6ad;
}

.fa-purple {
	padding-right: 15px;
	color: #7647A2;
}

a {
	color: #39c6ad;
}

a:hover {
	color: green;
}

.header-list li a h3 {
	color: black;
}

.header-list li:hover {
	background-color:#f2f2f2;
}

.row {
	margin: 0 0 0 0;
}

.hero {
	height: 100vh;		
}

.hero-image-container {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("BG0.jpg");
	background-size: 120%;
	background-position: center center;
    background-repeat: no-repeat;
	height: 80vh;
	font-family: "Lato", "Serif";
	animation: mover1 20s infinite;
}

.hero-signup-container {
	background: rgba(0, 0, 0, 0.6);
	padding: 15px;
	border-radius: 25px;
}

.hero-signup-mesage {
	color: white;
}


.pal-content {
	background-image: url("BG01.png");
	height: auto;
	width: 100%;
	background-position: center center;
}

#show-pal {
	height: 250px;
}

@keyframes mover{
	0% {
		background-image: url("BG0.jpg");
		background-position: center left;
	}
	15% {
		background-image: url("BG0.jpg");		
	}

	20% {
		background-image: url("BG1.jpg");	
	}
	
	35% {
		background-image: url("BG1.jpg");
	}
	40% {
		background-position: center right;
		background-image: url("BG2.jpg");	
	}

	60% {
		background-image: url("BG2.jpg");
	}

	65% {
		background-image: url("BG1.jpg");
	}

	80% {
		background-image: url("BG1.jpg");	
	}

	95% {
		background-image: url("BG1.jpg");
	}

	100% {
		background-image: url("BG0.jpg");
		background-position: center left;
	}
}

@keyframes mover1{
	0% {
		background-position: center left;
	}

	40% {
		background-position: center right;
	}

	100% {
		background-position: center left;
	}
}

.hero-p {
	color: #cccccc;
}

.hero-text, .bottom-hero-text  {
	border: 0;
    background: #f4f4f4;
    color: #666;
    outline: 0;
    padding: 12px 10px;
    width: 300px;
}

.hero-button, .bottom-hero-button {
	border: 0;
    background: #e74c3c;
    color: #fff;
    outline: 0;
    padding: 12px 15px;
    cursor: pointer;
}

.phone1 {
	height: 70vh;
}

/* for scaling image sizes */
.feature-flex-container {
	display: flex;
    flex-direction: row;
    align-items: stretch;
}

.section-how-to-play {
	height: 100%;
/*	background-color: #f2f2f2;*/
	background-color: white;
	padding-bottom: 50px;
}

.feature0-phone-container {
	text-align: center;
	background-image: url('mockup/screenshot-town.png');
    background-repeat: no-repeat;
    background-size: contain; /* Make the image cover the div */
    background-position: 50%; /* Center the image inside the div */
    min-height: 500px;
}

.section-feature2 {
	height: 100%;
	background-color: #b3e29f;
	padding-bottom: 50px;
}

.section-feature2::before {
	content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-size: cover;
	background-image: url('m05.png');
	background-size: 450px 450px;
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.feature2-flex-phone-container {
	background-image: url('mockup/screenshot-run.png');
    background-repeat: no-repeat;
    background-size: contain; /* Make the image cover the div */
    background-position: 90%; /* Center the image inside the div */
    min-height: 500px;
}

.section-feature3 {
	height: 100%;
	background-color: #9fb3e2;
	padding-bottom: 50px;
}

.section-feature3::before {
	content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-size: cover;
	background-image: url('m08.png');
	background-size: 450px 450px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.feature3-flex-phone-container {
	background-image: url('mockup/screenshot-reward.png');
    background-repeat: no-repeat;
    background-size: contain; /* Make the image cover the div */
    background-position: 90%; /* Center the image inside the div */
    min-height: 500px;
}

.section-feature4 {
	padding-top: 30px;
	height: 100%;
	background-color: #fdcc52;
	padding-bottom: 50px;
}

.section-form {
	min-height: 100%;
	background-color: white;
	padding-bottom: 50px;
}

.section-form2 {
	height: 500px;
	background-color: white;
}

.feature1-phone-container, .feature2-phone-container {
	text-align: right;
}

/*.feature0-phone {
	height: 80vh;
}
*/
.email-form {
	margin-top: 60px;
	width: 500px;
	height: 150px;
	box-shadow: 3px 3px 10px #888888;
	display: table;
}

.inner-form {
	vertical-align: middle;
	display: table-cell;
}

.footer {
	padding-top: 20px;
	height: 10vh;
	text-align: center;
	background-color: #f2f2f2;
}

.monster-portrait {
	width: 90px;
	height: 90px;
}

.slick-prev:before,
.slick-next:before {
    color: red;
}

.top-space {
	margin-top: 50px;
}

#slick {
	width: 30vw;
	margin-left: -5%;
}

.slick-prev {
	top: 60%;
}

.slick-next {
	top: 60%;
}


@media (max-width: 800px) {
	.hero-image-container {
		background-size: 200% 100%;
	}
}

/* Removes the flex box for mobile-like devices */
@media (max-width: 600px) {
	.feature-flex-container {
		display: block;
	}
	.feature2-flex-phone-container {
		background-position: 50%;
	}
	.feature3-flex-phone-container {
		background-position: 50%;
	}
}

@media (max-width: 499px) {
	.hero-image-container {
		background-size: 200% 150%;
	}
	.pal-content {
		width: 100%;
	}
	#show-pal {
		height: 200px;
	}

	.hero-image-container {
		height: 500px;
		text-align: center;
	}

	.hero-left-content {
		padding-left: 0px;
	}

    .phone1 {
        display: none;
    }

    .hero-icon-menu {
    	height: 600px;
    }

	.top-space {
		margin-top: 10px;
	}

	.feature1-phone-container, .feature2-phone-container {
		text-align: center;
	}

	.section-feature3 h1 {
		font-size: 32px;
	}

	.email-form {
		margin-top: 60px;
		width: 150px;
		height: 30px;
	}

	.inner-form {
		padding: 15px;
		text-align: center;
	}

	.bottom-hero-text {
		border: 0;
	    background: #f4f4f4;
	    color: #666;
	    outline: 0;
	    padding: 12px 10px;
	    width: 300px;
	}

	.bottom-hero-button {
		border: 0;
	    background: #e74c3c;
	    color: #fff;
	    outline: 0;
	    padding: 12px 15px;
	    cursor: pointer;
	}

	.footer {
		padding-top: 20px;
		height: 10vh;
		text-align: center;
		background-color: #f2f2f2;
	}
} 

/* for 320x480 case */
@media (max-width: 320px) {

	.section-form {
		height: 500px;
	}

	.bottom-hero-text {
	    width: 150px;
	}

	.footer {
		height: 100px;
	}
}


/* mobile */
@media (min-width: 500px) and (max-width: 767px) {
	.hero-image-container {
		height: 50vh;
	}
    .hero-left-content {
    	padding-top: 10%;
		vertical-align: middle;
    	text-align: center;
    }

    .hero-icon-menu {
    	height: 450px;
    }

    .phone1 {
        display: none;
    }

/*	.feature1-phone {
		position: absolute;
		margin-top: 60vh;
		margin-left: -60vw;
		height: 40vh;
	}*/

	.top-space {
		margin-top: 50px;
	}


	.navbar {
		display: none;
	}


}

/* table screen size */
@media (min-width: 768px) and (max-width: 991px){
	
	.hero-left-content {
		padding-top: 10%;
		vertical-align: middle;
		text-align: center;
	}

	.hero-right-content {
		display: none;
	}

}